.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.hidden {
    display: none; /* Hide the modal by default */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-confirm, .btn-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-confirm {
    background-color: #5cb85c;
    color: white;
}

.btn-confirm:hover {
    background-color: #4cae4c;
}

.btn-cancel {
    background-color: #d9534f;
    color: white;
}

.btn-cancel:hover {
    background-color: #c9302c;
}

.modal-content input{
    margin-top: 10px;
}

.hidden {
    display: none;
}